<div class="container-fluid bg-2 text-center">
 
<div id="buttons">
  <a type="button" class="btn btn-primary btn-lg" routerLink="/manager/orderList">Manage Orders </a>
  <a type="button" class="btn btn-default btn-lg" routerLink="/manager/carList">Manage Cars</a>
  <a type="button" class="btn btn-default btn-lg" routerLink="/manager/carTypeList">Manage Car Types</a>
  <a type="button" class="btn btn-default btn-lg" routerLink="/manager/userList">Manage Users</a>
</div> 

<router-outlet></router-outlet>

</div>



