<div class="container" *ngIf="localUserName">

  <div class="well well-lg" *ngIf="actionMsg">{{actionMsg}}</div>
  
  <div class="form-group"> 
    <label>User Name: {{localUser.UserName}}</label> <br/>
    <label>User Image: {{localUser.Image}}</label> <br/>
    <label>Identity Number: {{localUser.IdentityNumber}}</label>
    <label>Is Male: {{localUser.IsMale}}</label>
  </div>

  <div class="form-group">
      <label>Full Name:</label>
      <input type="text" class="form-control" [(ngModel)]="localUser.FullName">
    </div>
    <div class="form-group">
      <label>Birth Date:</label>
      <input type="boolean" class="form-control"  [(ngModel)]="localUser.BirthDate">
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="boolean" class="form-control"  [(ngModel)]="localUser.Email">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="boolean" class="form-control"  [(ngModel)]="localUser.Password">
    </div>
    <div class="form-group">
      <label>Role:</label>
      <input type="boolean" class="form-control"  [(ngModel)]="localUser.UserRole">
    </div>

  <button class="btn btn-default" (click)="saveChanges()">Submit</button>
  <button class="btn btn-default" (click)="onBack()">Back</button>

</div>








