
  <div class="container">

      <form #form="ngForm">

      <div class="well well-lg" *ngIf="actionMsg">{{actionMsg}}</div>

    <div class="form-group" [class.has-error]="isMakeError">
      <label class="control-label">Car Make:</label>
      <select class="form-control"
        required #make
        name="make"
        [(ngModel)]="selectedMake"
        (blur)="validateMake(make.value)"
        (change)="validateMake(make.value)"
        (change)="initModelList()" >
        <option value="default">Select a car Make</option>
        <option *ngFor="let make of makeList">{{make}}</option>
      </select>
    </div>


    <div class="form-group" [class.has-error]="isModelError">
      <div *ngIf="modelList[0]">
      <label class="control-label">Car Model:</label>
      <select class="form-control" 
        required #model
        name="model"
        [(ngModel)]="selectedModel"
        (blur)="validateModel(model.value)"
        (change)="validateModel(model.value)"
        (change)="initYearList()" >
        <option value="default">Select car Model</option>
        <option *ngFor="let model of modelList" >{{model}}</option>
        </select>
      </div>
    </div>


    <div class="form-group" [class.has-error]="isYearError">
      <div *ngIf="yearList[0]">
        <label class="control-label">Year:</label>
        <select class="form-control"
          required #year
          name="year"
          (blur)="validateYear(year.value)"
          (change)="validateYear(year.value)"
          [(ngModel)]="selectedYear">
          <option value="default">Select a Year</option>
          <option *ngFor="let year of yearList" >{{year}}</option>
          </select>
        </div>
      </div>


      <div class="form-group" [class.has-error]="isBranchError">
      <label class="control-label">Select a Branch:</label>
      <select class="form-control"
        required #branch
        name="branch"
        (blur)="validateBranch(branch.value)"
        (change)="validateBranch(branch.value)"
        [(ngModel)]="selectedBranch">
        <option value="default">Select a Branch</option>
        <option *ngFor="let branch of allBranches.branchList" >{{branch.BranchName}}</option>
      </select>
      </div>


      <div class="form-group" [class.has-error]="carNumber.invalid&&carNumber.touched">
          <label class="control-label">Car Number:</label>
          <input type="number" class="form-control"  placeholder="Enter a Car Number"
          required #carNumber="ngModel"
          name="carNumber" 
          [(ngModel)]="newCar.CarNumber">
        </div>


      <div class="form-group" [class.has-error]="mileage.invalid&&mileage.touched">
          <label class="control-label">Mileage:</label>
          <input type="number" class="form-control"  placeholder="Enter a Mileage" 
          required #mileage="ngModel"
          name="mileage"
          [(ngModel)]="newCar.Mileage" >
        </div>

        
        <div class="checkbox">
          <label>
            <input type="checkbox" name="isForRent" 
            [(ngModel)]="newCar.IsForRent"> Is For Rent
          </label>
        </div>

        
         <div>
            <input type="file" #image accept="image/*"  
             required
             ngModel
             name="image"
             (change)="handleFileInput($event.target.files)">
            <img *ngIf="imageUrl" [src]="imageUrl" style="width:250px;height:200px;display:block;">
          </div>


      <button class="btn btn-default" (click)="saveChanges()" 
              [disabled]="form.invalid">Submit</button>
      <button class="btn btn-default" (click)="onBack()">Back</button>

    </form>
    
    </div>
